<template>
  <div class="hello">
    <h1>My Blog Website</h1>
  </div>
</template>

<script>
export default {
  name: 'Blog',
  data () {
  }
}
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
</style>
