<template>
  <section class="additional">
    <div class="boxes red-new"></div>
    <div class="boxes blue"></div>
    <div class="btn-container-link">
      <router-link to="/blog" class="red" id="btn-blog">BLOG</router-link>
    </div>
    <div class="boxes red-new"></div>
    <div class="boxes blue"></div>
  </section>
</template>
<style scoped>
  .blue{
    background-color: #99d3df;
  }
  .red-new {
    background-color: #ff5555;
  }
 .additional{
    margin-top: 150px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .boxes{
    height: 50px;
    width: 50px;
    transform: rotate(45deg)
  }
  .btn-container-link{
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #ff5555;
  }
  .btn-container-link:hover{
    background-color: #ff5555;
  }
  #btn-blog {
    text-decoration: none;
    font-family: "Anton";
    font-size: 5em;
  }
  #btn-blog:hover{
    color: white;
  }
</style>
<script>
export default {
  name: 'Additional'
}
</script>
