<template>
  <section class="header container">
        <h1 class="font-heading red" id="portfolio">PORTFOLIO</h1>
        <h1 class="font-heading grey" id="website">WEBSITE</h1>
        <img src="../assets/main-img.png" alt="Main image" id="main-img">
        <div class="decoration-box"></div>
        <div class="welcome-text font-normal red">
          <p>Hi,</p>
          <p>Nama gw Azhar.</p>
          <p>Gw Mahasiswa Fasilkom UI.</p>
          <p>Seneng banget sama: </p>
          <div class="highlight">
            <div class="highlight-container">
              <h2 class="highlight" id="programming">Programming</h2>
              <h2 class="highlight" id="design">Design</h2>
              <h2 class="highlight" id="videoEditing">Video Editing</h2>
              <h2 class="highlight" id="modeling">3D Modeling</h2>
              <h2 class="highlight" id="web">Web Devel</h2>
            </div>
          </div>
        </div>
      </section>
</template>
<style scoped>
  p{
    font-size: 2em;
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
  .container{
    height: 100px;
    max-width: 1080px;
    display: flex;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  .header{
    height: 1080px;
    overflow: hidden;
  }
  .font-heading{
    font-family: 'Anton';
    font-size: 10em;
  }
  .font-normal{
    font-family: 'Roboto Condensed';
  }
  .red{
    color: #ff5555;
  }
  .grey{
    color: #b3b3b3ff;
  }

  #portfolio{
    position: relative;
    left: 20px;
    padding: 0;
    margin-bottom: 0;
    height: 300px;
  }
  #website{
    position: absolute;
    top: 190px;
    right: 20px;
    margin: 0;
  }
  #main-img{
    position: absolute;
    width: 750px;
    height: 900px;
    z-index: 9;
    top: 150px;
    left: -10px;
    right: 90px;
  }
  .decoration-box {
    position: absolute;
    background-color: #ff5555;
    height: 20px;
    width: 500px;
    right: 0px;
    top: 400px;
  }
  .welcome-text{
    position: relative;
    top: 500px;
    z-index: 10;
    height: 50px;
    left: 20px;
  }
  .highlight{
    font-size: 2em;
    font-weight: normal;
    margin: 0;
    height: 80px;
    overflow: hidden;
  }
  @keyframes efekTransisi {
    0% {bottom: 0px;}
    10% {bottom: 80px;}
    20% {bottom: 160px;}
    30% {bottom: 240px;}
    40% {bottom: 320px;}
    50% {bottom: 320px;}
    60% {bottom: 240px;}
    70% {bottom: 160px;}
    80% {bottom: 80px;}
    90% {bottom: 0px;}
    100%{bottom: 0px;}
  }
  .highlight-container {
    position: relative;
    bottom: 80px;
    animation-name:efekTransisi;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
  }
  @media only screen and (max-width: 1000px) {
    .welcome-text{
     left: 70px;
   }
  }
  @media only screen and (max-width: 900px) {
    #main-img{
     width: 500px;
     height: 600px;
     top: 300px;
   }
   .welcome-text{
     left: -15%;
   }
  }
  @media only screen and (max-width:767px) {
    #main-img{
      left: 17%;
    }
    .header{
      height: 1400px;
    }
    .welcome-text{
      top: 1000px;
      left: -45%;
    }
  }
  @media only screen and (max-width:600px) {
    #main-img{
      left: 8%;
    }
  }
  @media only screen and (max-width: 490px) {
    #main-img{
      left: 0%;
    }
    .welcome-text {
      left: -60%;
    }
  }
</style>
<script>
export default {
  name: 'Header'
}
</script>
