<template>
  <div id="main">
    <Nav></Nav>
    <main>
      <Header></Header>
      <Multi></Multi>
      <Web></Web>
      <Show></Show>
      <Additional></Additional>
    </main>
  </div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  #main {
    background-color: #f9f9f9;
  }
  .container{
    height: 100px;
    max-width: 1080px;
    display: flex;
    margin: 0 auto;
    position: relative;
  }
  .font-heading{
    font-family: 'Anton';
    font-size: 10em;
  }
  .font-normal{
    font-family: 'Roboto Condensed';
  }
  .red{
    color: #ff5555;
  }
  .grey{
    color: #b3b3b3ff;
  }
 
  @media only screen and (max-width: 1000px) {
   #main {
     font-size: 14px;
   }
  }

  @media only screen and (max-width:600px) {
    #main{
      font-size: 11px;
    }
  }
</style>

<script>
import Nav from './Nav'
import Header from './Header'
import Multi from './Multi'
import Web from './Web'
import Show from './Show'
import Additional from './Additional'
export default {
  name: 'Main',
  components: {
    Nav,
    Header,
    Multi,
    Web,
    Show,
    Additional
  }
}
</script>
