<template>
  <section class="multimedia container">
    <div class="skill-heading">
      <h1 class="font-heading" id="skill">SKILLS</h1>
    </div>
    <div class="decoration-ball">
      <div class="ball1">
        <div class="ball2">
          <div class="ball3"></div>
        </div>
      </div>
    </div>
    <h1 class="font-heading" id="multimedia">MULTIMEDIA</h1>
    <div class="btn-container font-normal">
      <h3>DESAIN GRAFIS</h3>
      <h3>VIDEO EDITING</h3>
      <h3>3D MODELING</h3>
    </div>
  </section>
</template>
<style scoped>
.container{
    height: 100px;
    max-width: 1080px;
    display: flex;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  .font-heading{
    font-family: 'Anton';
    font-size: 10em;
  }
  .font-normal{
    font-family: 'Roboto Condensed';
  }
  .red{
    color: #ff5555;
  }
  .grey{
    color: #b3b3b3ff;
  }
 .multimedia{
    flex-direction: column;
    height: 1080px;
  }
  #skill{
    margin-top: 100px;
    font-size: 7em;
    color: #ff5555;
    margin-bottom: 0;
    z-index: 10;
  }
  #skill::after{
    content: "SKILLS";
    position: relative;
    bottom: 10px;
    right: 30%;
    font-size: 1.6em;
    color: #99d3df;
    z-index: -1;
  }
  .decoration-ball{
    position: absolute;
    background-color: #f9f9f9;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 3px solid red;
    right: -15%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .ball1 {
    margin: 0 auto;
    border: 3px solid red;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ball2 {
    margin: 0 auto;
    border: 3px solid red;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .ball3 {
    margin: 0 auto;
    border: 3px solid red;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  #multimedia{
    font-size: 13em;
    color: #99d3df;
    margin-top: 50px;
    position: relative;
    z-index: 10;
  }
  #multimedia::after{
    position: relative;
    top: 10px;
    right: 500px;;
    font-size: .5em;
    content: "MULTIMEDIA";
    color: #ff5555;
  }
  .btn-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto 220px auto;
  }
  .btn-container > h3 {
    border: 10px solid #99d3df;
    flex-basis: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: #ff5555;
    margin: 10px auto;
  }
  @media only screen and (max-width: 1000px) {
    #skill{
     width: 80vw;
     position: relative;
     left: 50px;
   }
   #multimedia::after{
     right: 500px;
   }
  }
  @media only screen and (max-width: 900px) {
   #skill{
     left: 20px;
   }
   #multimedia{
     font-size: 10em;
     right: 0;
   }
   #multimedia::after{
     right: 400px;
   }
   .btn-container > h3 {
    flex-basis: 300px;
    height: 120px;
    font-size: 2em;
  }
  }
</style>
<script>
export default {
  name: 'Multi'
}
</script>
