<template>
  <section class="showcase">
    <img src="../assets/webdev/html.png" alt="Html" id="html">
    <img src="../assets/webdev/css.png" alt="css" id="css">
    <img src="../assets/webdev/javascript.png" alt="javascript" id="javascript">
    <img src="../assets/webdev/react.png" alt="react" id="react">
    <img src="../assets/webdev/gulp.png" alt="gulp" id="gulp">
    <img src="../assets/webdev/grunt.png" alt="grunt" id="grunt">
    <img src="../assets/webdev/django.png" alt="django" id="django">
    <img src="../assets/webdev/bootstrap.png" alt="bootstrap" id="bootstrap">
    <img src="../assets/webdev/node.png" alt="node" id="node">
    <img src="../assets/webdev/express.png" alt="express" id="express">
  </section>
</template>
<style>
  .showcase{
    max-width:1100px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 350px;
    position: relative;
    display: flex;
  }
  .showcase > img{
    position: absolute;
    height: auto;
  }
  #html{
    width: 25%;
    left: 0px;
    top:0%;
  }
  #css{
    width: 40%;
    top: 4%;
    left: 30%;
    right: 70%;
  }
  #javascript{
    width: 20%;
    right: 5%;
  }
  #react{
    width: 40%;
    top: 30%;
  }
  #gulp{
    width: 20%;
    right: 5%;
    top: 23%;
  }
  #grunt{
    width: 30%;
    right: 65%;
    left: 35%;
    top: 60%;
  }
  #django{
    width: 30%;
    right: 30%;
    top: 45%;
  }
  #bootstrap{
    width: 20%;
    top: 70%;
    left: 4%;
    right: 96%;
  }
  #node{
    width: 10%;
    right: 10%;
    top: 80%;
  }
  #express{
    width: 20%;
    right: 10%;
    top: 75%;
  }
  @media only screen and (max-width:600px) {
    .showcase{
      flex-direction: column;
      align-items: center;
      height: auto;
      margin-top:200px;
    }
    .showcase > img {
      position: initial;
      margin-bottom: 50px;
    }
  }
</style>
<script>
export default {
  name: 'Show'
}
</script>
