<template>
<section class="container web">
  <div class="skill-heading">
    <img src="../assets/decorations/decoration-line.png" alt="" srcset="" id="line1">
    <img src="../assets/decorations/decoration-line2.png" alt="" srcset="" id="line2">
    <h1 class="font-heading" id="webdevel">WEB DEVELOPMENT</h1>
  </div>
</section>
</template>
<style scoped>
  .container{
    height: 100px;
    max-width: 1080px;
    display: flex;
    margin: 0 auto;
    position: relative;
  }
  .font-heading{
    font-family: 'Anton';
    font-size: 10em;
  }
  .font-normal{
    font-family: 'Roboto Condensed';
  }
  .red{
    color: #ff5555;
  }
  .grey{
    color: #b3b3b3ff;
  }

  .web{
    flex-direction: column;
    margin-top: 150px;
  }
  #line1, #line2{
    width: 100%;
    height: auto;
  }
  #line1{
    position: absolute;
    top: -100px;
  }
  #line2{
    position: absolute;
    top: -200px;
  }
  #webdevel{
    font-size: 9em;
    color: #99d3df;
    margin-top: 150px;
  }
  #webdevel::before{
    content: "WEB DEVELOPMENT";
    position: absolute;
    top: 200%;
    font-size: .6em;
    color: #ff5555;
  }
  @media only screen and (max-width: 1000px) {
   #webdevel{
     font-size: 8em;
   }
  }
  @media only screen and (max-width:767px) {
    #webdevel{
      font-size: 7em;
    }
    #webdevel::before{
      top: 180%;
    }
  }
  @media only screen and (max-width:600px) {
    #webdevel{
      font-size: 5em;
    }
    #webdevel::before {
      top: 190%;
    }
  }

</style>
<script>
export default {
  name: 'Web'
}
</script>
